<h1 class="animated fadeIn fast">Sobre esta APP ...</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius, lorem a consequat porta, augue augue pellentesque enim, at eleifend ante magna lobortis ante. Nulla vestibulum et nulla eu fermentum. Nunc condimentum lorem ut congue fringilla. Duis porttitor, sapien posuere tincidunt gravida, magna nibh dapibus felis, a venenatis elit augue ut nisi. In hac habitasse platea dictumst. Donec nisl sem, euismod ut sollicitudin id, semper at ante. Cras cursus mauris at posuere mollis.
</p>



