<div class="card animated fadeIn slow shadow">
  <img
    [src]="heroe.img ? heroe.img : 'assets/img/no-image.svg'"
    class="card-img-top img-fluid"
    [title]="heroe.nombre"
    [alt]="heroe.nombre" />

  <div class="card-body">
    <h5 class="card-title">{{ heroe.nombre }}</h5>
    <p class="card-text card-text-truncate">{{ heroe.bio }}</p>
    <p class="card-text">
      <small class="text-muted"> <strong>Año:</strong> {{ getAparicionYear() }} </small>
    </p>
    <p class="card-text">
      <small class="text-muted"> <strong>Casa:</strong> {{ heroe.casa }} </small>
    </p>
    <button (click)="verHeroe()" type="button" class="btn btn-4 btn-block">
      <i>Ver mas...</i>
    </button>
  </div>
</div>
